
<div class="box-footer">
    <div class="pagination-footer row">
        <div class="pagination-footer__count-selector col-md-2">
            <form class="pagination-footer__count-selector-form form-inline">
                <div class="form-group">

                    <label>Per page</label>
                    <select class="form-control">
                        {% for itemCount in [10, 25, 50, 100, 250, 500] %}

                            {% set countUrl = cmf_formQueryString(pimcore_url({'page': null, 'perPage': itemCount})) %}

                            <option data-url="{{ countUrl }}" value="{{ itemCount }}" {{ paginator.itemNumberPerPage == itemCount ? 'selected' : ''}}>
                                {{ itemCount }}
                            </option>

                        {% endfor %}
                    </select>
                </div>
            </form>
        </div>


        <div class="pagination-footer__pagination col-md-8">
            {{ include('@PimcoreCustomerManagementFramework/admin/partial/pagination/default.html.twig') }}
        </div>

        <div class="pagination-footer__summary col-md-2">
            {{ 'Showing items %d to %d of total %d' | format(paginationVariables['firstItemNumber'], paginationVariables['lastItemNumber'], paginator.totalItemCount) }}
        </div>

    </div>
</div><!-- box-footer -->
