{% set exporterConfigs = cmf_loadExporterConfigs() %}

{% if (exporterConfigs | length > 0) %}
    <div class="box box-default">
        <div class="box-body">
            <div class="row">
                <div class="col-xs-12 text-right">

                    {% for exporter, exporterConfig in exporterConfigs %}

                        {% set exportUrl = cmf_formQueryString(pimcore_url({'exporter': exporter}, 'customermanagementframework_admin_customers_export')) %}

                        <a href="#" data-href="{{ exportUrl }}" class="btn btn-default js-customer-export">
                            <i class="{{ exporterConfig['icon'] ?? 'fa fa-download' }}"></i>
                            {{ 'cmf_filters_export' | trans({}, 'admin') }}
                            <span class="label label-info">{{ exporterConfig['name'] }}</span>
                        </a>

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="exportModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exportModalLabel"><i class="fa fa-clock-o"></i> {{ 'cmf_filters_export_generating' | trans({}, 'admin') }}</h4>
                </div>
                <div class="modal-body center-block">
                    <span class="js-progress-label"></span>
                    <div class="progress">
                        <div class="progress-bar bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">

                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

{% endif %}